INFLUXDB_TOKEN=my-super-secret-token
INFLUXDB_ORG=cloud-monitor
INFLUXDB_BUCKET=metrics
INFLUXDB_USERNAME=admin
INFLUXDB_PASSWORD=admin12345

SMTP_USERNAME=your-email@gmail.com
SMTP_PASSWORD=your-app-password
ALERT_SENDER_EMAIL=your-email@gmail.com
ALERT_RECIPIENT_EMAIL=ops-team@yourcompany.com

GF_SECURITY_ADMIN_PASSWORD=admin
